# The API Key is the password to your instance, set when configuring indexer and downloader in Lidarr
# Set any value you wish here, but do not leave it empty
API_KEY=your_secret_password

# The API endpoint for metadata and download links.
# Default (Trypt API):
API_LINK=https://trypt-hifi-dl-456461932686.us-west1.run.app/api

# Alternative API links (uncomment to use):
# API_LINK=https://qobuz.kennyy.com.br/api
# API_LINK=https://qobuz.squid.wtf/api

DOWNLOAD_PATH=D:\Appz\squidarr
PORT=8687
CATEGORY=music
QUALITY=flac-hi-res
TZ=Europe/Paris
DEBUG=false
